In [0]:
from google.colab import drive

In [0]:
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
#content/gdrive/My Drive/AIML/INTERNAL RESIDENCY6

In [0]:
import tensorflow as tf

In [0]:
#Reset Default graph - Needed only for Jupyter notebook
tf.reset_default_graph()

**collect** data

In [0]:
import pandas as pd

In [0]:
#!ls "/content/gdrive/My Drive/AIML/INTERNAL RESIDENCY6"
#data=pd.read_csv("content/gdrive/My Drive/AIML/INTERNAL RESIDENCY6/Iris.csv")
from google.colab import files
uploaded = files.upload()

Saving Iris.csv to Iris.csv
Saving prices.csv to prices.csv

In [0]:
import io
df = pd.read_csv(io.StringIO(uploaded['prices.csv'].decode('utf-8')))
df.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

Check all columns in the dataset

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851264 entries, 0 to 851263
Data columns (total 7 columns):
date      851264 non-null object
symbol    851264 non-null object
open      851264 non-null float64
close     851264 non-null float64
low       851264 non-null float64
high      851264 non-null float64
volume    851264 non-null float64
dtypes: float64(5), object(2)
memory usage: 45.5+ MB

Drop columns date and symbol

In [0]:
df.drop(df.columns[[0, 1]], axis=1, inplace=True)

In [0]:
df.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

Consider only first 1000 rows in the dataset for building feature set and target set

In [0]:
df2 = df.head(1000)

Divide the data into train and test sets

In [0]:
from sklearn.model_selection import train_test_split
import numpy as np
y= np.arange(1000)

X_train, X_test, y_train, y_test = train_test_split(df2, y, test_size=0.2)

Building the graph in tensorflow

In [0]:
#Input features
x = tf.placeholder(shape=[None,5],dtype=tf.float32, name='x-input')

#Normalize the data
x_n = tf.layers.batch_normalization(x,training=True)

#Actual Prices
y_ = tf.placeholder(shape=[None],dtype=tf.float32, name='y-input')

In [0]:
#Define Weights and Bias
W = tf.Variable(tf.zeros(shape=[5,1]), name="Weights")
b = tf.Variable(tf.zeros(shape=[1]),name="Bias")

In [0]:
#prediction
y = tf.add(tf.matmul(x_n,W),b,name='output')

In [0]:
#Loss (Cost) Function [Mean square error]
loss = tf.reduce_mean(tf.square(y-y_),name='Loss')

In [0]:
#GradientDescent Optimizer to minimize Loss
train_op = tf.train.GradientDescentOptimizer(0.003).minimize(loss)

Executing the Graph

In [0]:
#Lets start graph Execution
sess = tf.Session()

# variables need to be initialized before we can use them
sess.run(tf.global_variables_initializer())

#how many times data need to be shown to model
training_epochs = 100

In [0]:
#Load data

#(features, actual_prices),_ = df2.load_data(test_split=0)

features=df2
actual_prices=np.arange(1000)

In [0]:
for epoch in range(1000):
            
    #Calculate train_op and loss
    _, train_loss = sess.run([train_op,loss],feed_dict={x:features, 
                                                        y_:actual_prices})
    
    if epoch % 10 == 0:
        print ('Training loss at step: ', epoch, ' is ', train_loss)

Training loss at step:  0  is  332833.53
Training loss at step:  10  is  304535.16
Training loss at step:  20  is  nan
Training loss at step:  30  is  nan
Training loss at step:  40  is  nan
Training loss at step:  50  is  nan
Training loss at step:  60  is  nan
Training loss at step:  70  is  nan
Training loss at step:  80  is  nan
Training loss at step:  90  is  nan
Training loss at step:  100  is  nan
Training loss at step:  110  is  nan
Training loss at step:  120  is  nan
Training loss at step:  130  is  nan
Training loss at step:  140  is  nan
Training loss at step:  150  is  nan
Training loss at step:  160  is  nan
Training loss at step:  170  is  nan
Training loss at step:  180  is  nan
Training loss at step:  190  is  nan
Training loss at step:  200  is  nan
Training loss at step:  210  is  nan
Training loss at step:  220  is  nan
Training loss at step:  230  is  nan
Training loss at step:  240  is  nan
Training loss at step:  250  is  nan
Training loss at step:  260  is  nan
Training loss at step:  270  is  nan
Training loss at step:  280  is  nan
Training loss at step:  290  is  nan
Training loss at step:  300  is  nan
Training loss at step:  310  is  nan
Training loss at step:  320  is  nan
Training loss at step:  330  is  nan
Training loss at step:  340  is  nan
Training loss at step:  350  is  nan
Training loss at step:  360  is  nan
Training loss at step:  370  is  nan
Training loss at step:  380  is  nan
Training loss at step:  390  is  nan
Training loss at step:  400  is  nan
Training loss at step:  410  is  nan
Training loss at step:  420  is  nan
Training loss at step:  430  is  nan
Training loss at step:  440  is  nan
Training loss at step:  450  is  nan
Training loss at step:  460  is  nan
Training loss at step:  470  is  nan
Training loss at step:  480  is  nan
Training loss at step:  490  is  nan
Training loss at step:  500  is  nan
Training loss at step:  510  is  nan
Training loss at step:  520  is  nan
Training loss at step:  530  is  nan
Training loss at step:  540  is  nan
Training loss at step:  550  is  nan
Training loss at step:  560  is  nan
Training loss at step:  570  is  nan
Training loss at step:  580  is  nan
Training loss at step:  590  is  nan
Training loss at step:  600  is  nan
Training loss at step:  610  is  nan
Training loss at step:  620  is  nan
Training loss at step:  630  is  nan
Training loss at step:  640  is  nan
Training loss at step:  650  is  nan
Training loss at step:  660  is  nan
Training loss at step:  670  is  nan
Training loss at step:  680  is  nan
Training loss at step:  690  is  nan
Training loss at step:  700  is  nan
Training loss at step:  710  is  nan
Training loss at step:  720  is  nan
Training loss at step:  730  is  nan
Training loss at step:  740  is  nan
Training loss at step:  750  is  nan
Training loss at step:  760  is  nan
Training loss at step:  770  is  nan
Training loss at step:  780  is  nan
Training loss at step:  790  is  nan
Training loss at step:  800  is  nan
Training loss at step:  810  is  nan
Training loss at step:  820  is  nan
Training loss at step:  830  is  nan
Training loss at step:  840  is  nan
Training loss at step:  850  is  nan
Training loss at step:  860  is  nan
Training loss at step:  870  is  nan
Training loss at step:  880  is  nan
Training loss at step:  890  is  nan
Training loss at step:  900  is  nan
Training loss at step:  910  is  nan
Training loss at step:  920  is  nan
Training loss at step:  930  is  nan
Training loss at step:  940  is  nan
Training loss at step:  950  is  nan
Training loss at step:  960  is  nan
Training loss at step:  970  is  nan
Training loss at step:  980  is  nan
Training loss at step:  990  is  nan

In [93]:
sess.run(y, feed_dict={x:features[0:1]})

array([[nan]], dtype=float32)

In [97]:
sess.run(y, feed_dict={x:[[1,2,3,400,5],
                          [1,2,3,400,5]]})

array([[nan],
       [nan]], dtype=float32)

Linear Classification using Keras

Building the simple Neural Network in Keras with one neuron in the dense hidden layer.
Use Mean square error as loss function and sgd as optimize

In [98]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from keras.utils import to_categorical

Using TensorFlow backend.

In [100]:
dataset = pd.read_csv(io.StringIO(uploaded['Iris.csv'].decode('utf-8')))
dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [0]:
#Splitting the data into training and test test
X = dataset.iloc[:,1:5].values
y = dataset.iloc[:,5].values

from sklearn.preprocessing import LabelEncoder
encoder =  LabelEncoder()
y1 = encoder.fit_transform(y)

Y = pd.get_dummies(y1).values


from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [102]:
#Defining the model 

from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD,Adam


model = Sequential()

model.add(Dense(10,input_shape=(4,),activation='tanh'))
model.add(Dense(8,activation='tanh'))
model.add(Dense(6,activation='tanh'))
model.add(Dense(3,activation='softmax'))

model.compile(Adam(lr=0.04),'categorical_crossentropy',metrics=['accuracy'])

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 10)                50
_________________________________________________________________
dense_2 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_3 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_4 (Dense)              (None, 3)                 21
=================================================================
Total params: 213
Trainable params: 213
Non-trainable params: 0
_________________________________________________________________

In [103]:
#fitting the model and predicting 
model.fit(X_train,y_train,epochs=100)
y_pred = model.predict(X_test)

y_test_class = np.argmax(y_test,axis=1)
y_pred_class = np.argmax(y_pred,axis=1)

Epoch 1/100
120/120 [==============================] - 0s 3ms/step - loss: 1.1426 - acc: 0.3917
Epoch 2/100
120/120 [==============================] - 0s 206us/step - loss: 1.0968 - acc: 0.4333
Epoch 3/100
120/120 [==============================] - 0s 230us/step - loss: 0.9846 - acc: 0.5333
Epoch 4/100
120/120 [==============================] - 0s 225us/step - loss: 0.8049 - acc: 0.6917
Epoch 5/100
120/120 [==============================] - 0s 212us/step - loss: 0.6129 - acc: 0.7000
Epoch 6/100
120/120 [==============================] - 0s 213us/step - loss: 0.5004 - acc: 0.7000
Epoch 7/100
120/120 [==============================] - 0s 204us/step - loss: 0.4471 - acc: 0.9417
Epoch 8/100
120/120 [==============================] - 0s 225us/step - loss: 0.4178 - acc: 0.8000
Epoch 9/100
120/120 [==============================] - 0s 228us/step - loss: 0.3895 - acc: 0.8000
Epoch 10/100
120/120 [==============================] - 0s 240us/step - loss: 0.2962 - acc: 0.8917
Epoch 11/100
120/120 [==============================] - 0s 228us/step - loss: 0.2787 - acc: 0.8833
Epoch 12/100
120/120 [==============================] - 0s 242us/step - loss: 0.2163 - acc: 0.9417
Epoch 13/100
120/120 [==============================] - 0s 229us/step - loss: 0.2126 - acc: 0.9417
Epoch 14/100
120/120 [==============================] - 0s 217us/step - loss: 0.1367 - acc: 0.9417
Epoch 15/100
120/120 [==============================] - 0s 218us/step - loss: 0.2370 - acc: 0.9167
Epoch 16/100
120/120 [==============================] - 0s 251us/step - loss: 0.1386 - acc: 0.9417
Epoch 17/100
120/120 [==============================] - 0s 233us/step - loss: 0.1075 - acc: 0.9583
Epoch 18/100
120/120 [==============================] - 0s 304us/step - loss: 0.0925 - acc: 0.9667
Epoch 19/100
120/120 [==============================] - 0s 224us/step - loss: 0.1048 - acc: 0.9500
Epoch 20/100
120/120 [==============================] - 0s 205us/step - loss: 0.1276 - acc: 0.9583
Epoch 21/100
120/120 [==============================] - 0s 198us/step - loss: 0.1209 - acc: 0.9500
Epoch 22/100
120/120 [==============================] - 0s 223us/step - loss: 0.0794 - acc: 0.9667
Epoch 23/100
120/120 [==============================] - 0s 228us/step - loss: 0.1139 - acc: 0.9583
Epoch 24/100
120/120 [==============================] - 0s 217us/step - loss: 0.0870 - acc: 0.9667
Epoch 25/100
120/120 [==============================] - 0s 244us/step - loss: 0.1851 - acc: 0.9250
Epoch 26/100
120/120 [==============================] - 0s 257us/step - loss: 0.2976 - acc: 0.8833
Epoch 27/100
120/120 [==============================] - 0s 215us/step - loss: 0.2386 - acc: 0.9000
Epoch 28/100
120/120 [==============================] - 0s 209us/step - loss: 0.2677 - acc: 0.9000
Epoch 29/100
120/120 [==============================] - 0s 218us/step - loss: 0.1681 - acc: 0.9250
Epoch 30/100
120/120 [==============================] - 0s 221us/step - loss: 0.2028 - acc: 0.9167
Epoch 31/100
120/120 [==============================] - 0s 236us/step - loss: 0.1257 - acc: 0.9583
Epoch 32/100
120/120 [==============================] - 0s 240us/step - loss: 0.0998 - acc: 0.9833
Epoch 33/100
120/120 [==============================] - 0s 208us/step - loss: 0.1893 - acc: 0.9333
Epoch 34/100
120/120 [==============================] - 0s 187us/step - loss: 0.1291 - acc: 0.9500
Epoch 35/100
120/120 [==============================] - 0s 171us/step - loss: 0.1648 - acc: 0.9500
Epoch 36/100
120/120 [==============================] - 0s 212us/step - loss: 0.1191 - acc: 0.9583
Epoch 37/100
120/120 [==============================] - 0s 216us/step - loss: 0.1813 - acc: 0.9417
Epoch 38/100
120/120 [==============================] - 0s 207us/step - loss: 0.1578 - acc: 0.9417
Epoch 39/100
120/120 [==============================] - 0s 217us/step - loss: 0.1535 - acc: 0.9417
Epoch 40/100
120/120 [==============================] - 0s 241us/step - loss: 0.0955 - acc: 0.9750
Epoch 41/100
120/120 [==============================] - 0s 217us/step - loss: 0.0988 - acc: 0.9583
Epoch 42/100
120/120 [==============================] - 0s 214us/step - loss: 0.1004 - acc: 0.9500
Epoch 43/100
120/120 [==============================] - 0s 229us/step - loss: 0.1503 - acc: 0.9500
Epoch 44/100
120/120 [==============================] - 0s 234us/step - loss: 0.0698 - acc: 0.9750
Epoch 45/100
120/120 [==============================] - 0s 221us/step - loss: 0.1041 - acc: 0.9500
Epoch 46/100
120/120 [==============================] - 0s 242us/step - loss: 0.0698 - acc: 0.9750
Epoch 47/100
120/120 [==============================] - 0s 258us/step - loss: 0.0879 - acc: 0.9667
Epoch 48/100
120/120 [==============================] - 0s 228us/step - loss: 0.0843 - acc: 0.9583
Epoch 49/100
120/120 [==============================] - 0s 225us/step - loss: 0.0936 - acc: 0.9500
Epoch 50/100
120/120 [==============================] - 0s 246us/step - loss: 0.0756 - acc: 0.9667
Epoch 51/100
120/120 [==============================] - 0s 245us/step - loss: 0.0643 - acc: 0.9833
Epoch 52/100
120/120 [==============================] - 0s 213us/step - loss: 0.0609 - acc: 0.9833
Epoch 53/100
120/120 [==============================] - 0s 222us/step - loss: 0.0606 - acc: 0.9833
Epoch 54/100
120/120 [==============================] - 0s 286us/step - loss: 0.0673 - acc: 0.9833
Epoch 55/100
120/120 [==============================] - 0s 219us/step - loss: 0.0566 - acc: 0.9917
Epoch 56/100
120/120 [==============================] - 0s 223us/step - loss: 0.0808 - acc: 0.9667
Epoch 57/100
120/120 [==============================] - 0s 212us/step - loss: 0.1646 - acc: 0.9500
Epoch 58/100
120/120 [==============================] - 0s 248us/step - loss: 0.2008 - acc: 0.9167
Epoch 59/100
120/120 [==============================] - 0s 207us/step - loss: 0.2550 - acc: 0.8917
Epoch 60/100
120/120 [==============================] - 0s 225us/step - loss: 0.2246 - acc: 0.8750
Epoch 61/100
120/120 [==============================] - 0s 217us/step - loss: 0.1147 - acc: 0.9583
Epoch 62/100
120/120 [==============================] - 0s 236us/step - loss: 0.1699 - acc: 0.9167
Epoch 63/100
120/120 [==============================] - 0s 251us/step - loss: 0.1512 - acc: 0.9417
Epoch 64/100
120/120 [==============================] - 0s 214us/step - loss: 0.1475 - acc: 0.9500
Epoch 65/100
120/120 [==============================] - 0s 224us/step - loss: 0.0827 - acc: 0.9833
Epoch 66/100
120/120 [==============================] - 0s 249us/step - loss: 0.0780 - acc: 0.9667
Epoch 67/100
120/120 [==============================] - 0s 211us/step - loss: 0.0714 - acc: 0.9667
Epoch 68/100
120/120 [==============================] - 0s 249us/step - loss: 0.0715 - acc: 0.9667
Epoch 69/100
120/120 [==============================] - 0s 255us/step - loss: 0.0948 - acc: 0.9583
Epoch 70/100
120/120 [==============================] - 0s 241us/step - loss: 0.0951 - acc: 0.9583
Epoch 71/100
120/120 [==============================] - 0s 208us/step - loss: 0.1438 - acc: 0.9500
Epoch 72/100
120/120 [==============================] - 0s 226us/step - loss: 0.0993 - acc: 0.9583
Epoch 73/100
120/120 [==============================] - 0s 232us/step - loss: 0.0814 - acc: 0.9667
Epoch 74/100
120/120 [==============================] - 0s 255us/step - loss: 0.0920 - acc: 0.9500
Epoch 75/100
120/120 [==============================] - 0s 215us/step - loss: 0.0730 - acc: 0.9833
Epoch 76/100
120/120 [==============================] - 0s 253us/step - loss: 0.0677 - acc: 0.9667
Epoch 77/100
120/120 [==============================] - 0s 237us/step - loss: 0.0679 - acc: 0.9750
Epoch 78/100
120/120 [==============================] - 0s 219us/step - loss: 0.0686 - acc: 0.9833
Epoch 79/100
120/120 [==============================] - 0s 228us/step - loss: 0.0593 - acc: 0.9833
Epoch 80/100
120/120 [==============================] - 0s 247us/step - loss: 0.0900 - acc: 0.9667
Epoch 81/100
120/120 [==============================] - 0s 250us/step - loss: 0.1456 - acc: 0.9500
Epoch 82/100
120/120 [==============================] - 0s 221us/step - loss: 0.1901 - acc: 0.9250
Epoch 83/100
120/120 [==============================] - 0s 250us/step - loss: 0.1397 - acc: 0.9333
Epoch 84/100
120/120 [==============================] - 0s 235us/step - loss: 0.1001 - acc: 0.9750
Epoch 85/100
120/120 [==============================] - 0s 213us/step - loss: 0.0994 - acc: 0.9750
Epoch 86/100
120/120 [==============================] - 0s 212us/step - loss: 0.0720 - acc: 0.9750
Epoch 87/100
120/120 [==============================] - 0s 213us/step - loss: 0.0802 - acc: 0.9750
Epoch 88/100
120/120 [==============================] - 0s 242us/step - loss: 0.1318 - acc: 0.9667
Epoch 89/100
120/120 [==============================] - 0s 264us/step - loss: 0.1218 - acc: 0.9750
Epoch 90/100
120/120 [==============================] - 0s 205us/step - loss: 0.1630 - acc: 0.9500
Epoch 91/100
120/120 [==============================] - 0s 221us/step - loss: 0.1988 - acc: 0.9250
Epoch 92/100
120/120 [==============================] - 0s 225us/step - loss: 0.1071 - acc: 0.9583
Epoch 93/100
120/120 [==============================] - 0s 225us/step - loss: 0.0919 - acc: 0.9750
Epoch 94/100
120/120 [==============================] - 0s 224us/step - loss: 0.0903 - acc: 0.9667
Epoch 95/100
120/120 [==============================] - 0s 240us/step - loss: 0.1034 - acc: 0.9583
Epoch 96/100
120/120 [==============================] - 0s 231us/step - loss: 0.1362 - acc: 0.9500
Epoch 97/100
120/120 [==============================] - 0s 216us/step - loss: 0.0856 - acc: 0.9667
Epoch 98/100
120/120 [==============================] - 0s 234us/step - loss: 0.1403 - acc: 0.9417
Epoch 99/100
120/120 [==============================] - 0s 219us/step - loss: 0.1191 - acc: 0.9500
Epoch 100/100
120/120 [==============================] - 0s 242us/step - loss: 0.0573 - acc: 0.9917

In [104]:
#Accuracy of the predicted values
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test_class,y_pred_class))
print(confusion_matrix(y_test_class,y_pred_class))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       0.93      1.00      0.96        13
           2       1.00      0.83      0.91         6

   micro avg       0.97      0.97      0.97        30
   macro avg       0.98      0.94      0.96        30
weighted avg       0.97      0.97      0.97        30

[[11  0  0]
 [ 0 13  0]
 [ 0  1  5]]